.query-choices{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding:1rem;
    width: 100%;
    justify-content: center;
}

.weather-calendar-container{
    margin-bottom: 2rem;
}

.calendar{
    margin: 0 auto;
    border-radius:10px;
    text-align: center;
}

.calendar-container{
    margin-bottom: 5rem;
    text-align: center;

}

.show-all-btn{
    margin-right: 1rem;
}

.page-btns{
    margin: 2rem;
    text-align: center;
}