.query-choices {
  font-weight: bold;
  margin: 5rem;
  display: flex;
  flex-direction: row;
}

.event-card-container {
  margin: 5rem;
}

.weather-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}
