.image-with-bookingButton {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.home-container{
    background-image: url("../images/photo-1457234068269-b58092525794.avif");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.book-now-button{
    width: 15rem;
    height:5rem;
    border-radius: 20px;
    font-size:xx-large;
}

.home-title {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5rem;
    margin: 0 auto;
    text-shadow: 1px 1px 1px rgba(1, 0, 0, 1);
    width: 80%;
    
}