.card {
  width: 300px;
}
.event-card-img {
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  width: auto;
  height: 300px;
  object-fit: cover;
}

.card-title {
  width: 100%;
}

.card-body {
  height: 190px;
  flex: 1 0 auto;
  justify-content: space-between;
}
