.event-card-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: auto;
  height: 425px;
  object-fit: fill;
}

.event-card {
  border-radius: 15px;
  width: 300px;
  height: 650px;
  margin: 10px;
  box-shadow: -16px 21px 22px -6px rgba(0,0,0,0.66);

}


.tour-title{
    flex: 1;
    margin-bottom:1rem;
    top: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height:225px;
    text-align: center;

    
}

.more-info-btn{
    margin: 0 auto;
}

.card-date{
    flex: 1;
    height:10px;
    font-weight: bold;
    color:rgba(30, 30, 30, 0.618)
    
}
