.login-signup-form{
    width: 25vw;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 15px;
    padding: 1rem;
    background-color: white;
    box-shadow: -16px 21px 22px -6px rgba(0,0,0,0.66);
    margin: 5rem;
    
}
/* .form-container{
    background-image: url("../images/pexels-roberto-nickson-2559941.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

} */