.BIA-logo-text{
    font-size: 2em;
}

.BIA-logo-link{
    text-decoration: none ;
}

.turtle-logo{
    margin-left:.5rem;
}

.Nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.344);
}

.navbar-container{}