.BIA-logo-text{
    font-size: 2em;
}

.BIA-logo-link{
    text-decoration: none ;
}

.turtle-logo{
    min-width:10rem;
}

.Nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.344);
}

.navbar-container{}

.header-links{
    min-width:fit-content
}