.booking-procress-bar {
  background-color: rgb(115, 115, 119);
}

.booking-steps,
ul {
  display: flex;
  list-style-type: none;
}

.booking-steps {
  color: white;
  flex-grow: 1;
}

ul {
  color: white;
  flex-grow: 1;
  padding: 0;
  font-weight: bold;
}

.default-li {
  color: white;
  flex-grow: 1;
  padding: 1rem;
}
.black-bg {
  color: rgb(255, 255, 255);
  flex-grow: 1;
  padding: 1rem;
  background-color: rgb(87, 146, 154);
}

.dashboard-step {
  background-color: rgb(115, 115, 119);
  display: flex;
  list-style-type: none;
  flex-grow: 1;
  padding: 1.5rem;
  justify-content: center;
}
